@model Category

<form method="post">
	<div class="row pb-2">
		<h2 class="text-primary">Create Category</h2>
		<hr />
		<div class="mb-1 ">
			<label asp-for="Name"></label>
			<input asp-for="Name" type="text" class="form-control" />
		</div>
		<div class="mb-1">
			<label asp-for="DisplayOrder"></label>
			<input asp-for="DisplayOrder" type="text" class="form-control" />
		</div>
		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-dark ml-2 form-control">Create</button>
			</div>
			<div class="col-6">
				<a asp-controller="Category" asp-action="Index" class="btn btn-info ml-2 form-control">Back to List</a>
			</div>
		</div>
		
	</div>
</form>